@import "./variables";

.portfolio-screen {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: underline;
  }
  background-color: $background;
}

.portfolio-parent {
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
  min-height: 0;   
  height: 100%;   
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.portfolio-node-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.portfolio-node,
.portfolio-subnode {
  width: 0.6em;
  height: 0.6em;
  border: 1px solid $foreground;
  flex-shrink: 0;
}

.portfolio-subnode {
  margin-left: 0.4em;

}

.portfolio-subnode-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.portfolio-sidebar {
  overflow-y: auto;
  padding: 0.4em 1em;
  display: flex;
  gap: 0.4em;
  justify-self: flex-end;
  > a {
    flex-grow: 1;
    text-align: right;
  }
}

.portfolio-header-container {
  overflow-y: visible;
  padding: 0 8em;
}

.portfolio-header {
  top: 0;
  z-index: 10;
  position: sticky;
  justify-content: space-between;


    background-color: $background;

  display: flex;

  flex-direction: column;

  gap: 0.4em;



  margin-top: 3em;
  margin-bottom: 1.5em;

  .portfolio-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    img {
      height: 3em;
    }
  }
}


.portfolio {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 auto;
  padding: 0 5em 1em 10em;
  
}

.portfolio-media-flex {
  display: flex;
  flex-direction: column;
  color: $background;
  background-color: $foreground;
  padding: 1em;
  align-items: center;
  gap: 0.4em;
}

.no-bg {
  background-color: transparent;
  color: $foreground;
  padding: 0;
}



.portfolio-cover {
  height: 80dvh;
  object-fit: contain;
  display: flex;
  width: 100%;
}

.portfolio-normal {
  object-fit: contain;
  display: flex;
  height: fit-content;
  width: 100%;
}

.subsection-row {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  justify-content: space-between;
}

.no-gap {
  gap: 0;
}

.slider {
  background-color: $foreground;

  object-fit: contain;
  width: fit-content;
  justify-content: center;
  width: fit;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
  .portfolio-media-caption {
    z-index: 10;
  }
}
.slider-container {
  display: flex;

  grid-row: 1;    
  grid-column: 1;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.slider-container-handle {
  height: 100%;
  border-right: 5px solid $foreground;
  grid-row: 1;    
  grid-column: 1;
  z-index: 10;
}

.slider-image {
  height: 100%;
  object-fit:cover;
  width: 100%;
  display: flex;
}

.portfolio-cover-small {
  height: fit-content;
  object-fit: contain;
  display: flex;
  width: 100%;
}

.subsection-scrollleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  overflow-x: auto;
  .portfolio-cover {
      
      object-fit: contain;
      display: flex;
      width: auto;
  }
}

.portfolio-title {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  justify-content: center;
}


.date {
  color: $lighttext;
  padding: 0 0.1em;
  margin: 0.2em 0;
  width: fit-content;
  background-color: $background;
}

.portfolio-header-title {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}

.portfolio-stats {
  padding: 0.2em;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 1em 0;

  > * {
    flex: 1;
    justify-content: center;
    display: flex;
    text-align: center;
  }
}

.portfolio-stack {
  background-color: $background;
  height: fit-content;
}

.portfolio-stack-title {
  font-size: 0.8em;
  color: $lighttext;
}

.portfolio-sections-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0; 
}

.portfolio-section {
  min-width: 0;
}

.portfolio-section-header {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 0.2rem 0.2rem 0.3rem 0;
  background-color: $background;
  font-size: 1.3em;
  max-height: $sectionHeaderHeight;
  min-height: $sectionHeaderHeight;
  width: fit-content;

}

.portfolio-subsection-header {
  //padding: 0.2em;
  word-break: keep-all;
  text-wrap: nowrap;
  position: sticky;
  align-self: flex-start;
  top: calc($sectionHeaderHeight + 0.4rem);
  z-index: 8;                    
  background-color: $background; 
}

.subsection-rowstack {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: flex-start;
}

.subsection-autocarousel-parent {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.subsection-images {
  min-width: 0;
  width: 100%;
}

.subsection-mosaic-row {
  display: flex;
  flex-direction: row;
}

.subsection-mosaic-col {
  display: flex;
  flex-direction: column;
}

.desc, .desc-right {
  text-indent: 1.5em;
  text-align: justify;
  position: sticky;
  align-self: flex-start;
  top: calc($sectionHeaderHeight + 0.4rem);
  z-index: 8;                    
  background-color: $background; 
}

.subsection-autocarousel {
  overflow: hidden;
  width: 100%;
  touch-action: none;
  min-width: 0;
  user-select: none;
  background-color: $foreground;
}

.subsection-autocarousel-track {
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  width: max-content;
  will-change: transform;
  height: $portfolioHeight;
}

.subsection-autocarousel-track .portfolio-media,
.subsection-autocarousel-track .n {
  flex-shrink: 0;
}

.subsection-autocarousel-image {
  max-height: 100%;
  width: auto;
}

.portfolio-navbar-img {
  height: 10em;
  max-width: 50%;
  width: auto;
}

.portfolio-navbar {
  display: flex;
  margin: 0.4em 1em;
  justify-content: space-between;
  a {

    text-decoration: none !important;
  }
  .prev, .next {
    display: flex;
    flex-direction: column;
  }
  .next {
    text-align: right;
  }
}